.Header{
    background-color: #4169E1;
    display : flex;
    justify-content: space-evenly;
    text-align: center;
    font-family : Arial;
    font-weight : bold;

    border-top : 10px ridge red;
    border-bottom : 10px ridge red;

    border-right : 10px ridge rgb(0,0,40);
    border-left : 10px ridge rgb(0,0,40);
}

.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    border-right : 10px ridge red;
    border-left : 10px ridge red;

    border-top : 10px ridge rgb(0,0,40);
    border-bottom : 10px ridge rgb(0,0,40);
}

.item2{
    border-top : 10px ridge red;
    border-bottom : 10px ridge red;

    border-right : 10px ridge rgb(0,0,40);
    border-left : 10px ridge rgb(0,0,40);

    cursor : pointer;
}

.item3{
    border-right : 10px ridge red;
    border-left : 10px ridge red;

    border-top : 10px ridge rgb(0,0,40);
    border-bottom : 10px ridge rgb(0,0,40);

    cursor : pointer;
}

.item4{
    border-top : 10px ridge red;
    border-bottom : 10px ridge red;

    border-right : 10px ridge rgb(0,0,40);
    border-left : 10px ridge rgb(0,0,40);

    cursor : pointer;
}

.item5{
    border-top : 10px ridge red;
    border-bottom : 10px ridge red;

    border-right : 10px ridge rgb(0,0,40);
    border-left : 10px ridge rgb(0,0,40);
}

.item6{
    border-top : 10px ridge red;
    border-bottom : 10px ridge red;

    border-right : 10px ridge rgb(0,0,40);
    border-left : 10px ridge rgb(0,0,40);

    cursor : pointer;
}

.item7{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;

    border-right : 10px ridge red;
    border-left : 10px ridge red;

    border-top : 10px ridge rgb(0,0,40);
    border-bottom : 10px ridge rgb(0,0,40);

    cursor : pointer;
}

h1,u,center{
    text-align: center;
    font-family : cursive;
}

h3,p,u,b{
    font-family : Lucida Console;
}

body{
    background-color : rgb(255, 233, 213);
    transition-property: color;
    transition-duration: .3s;
    border-left : 30px ridge red;
    border-right : 30px ridge red;

    border-top : 30px ridge rgb(0,0,40);
    border-bottom : 30px ridge rgb(0,0,40);
}