.Header{
    background-color: #4169E1;
    display : flex;
    justify-content: space-evenly;
    text-align: center;
    font-family : Arial;
    font-weight : bold;

    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;
}

h1,u{
    margin : 30px;
}

.Menu{
    margin-right : 30px;
    margin-top : 15px;
}

.Menu a{
    margin-left : 30px;
    margin-right : 30px;
}

.item{
    position : relative;
}

.item p{
    position : absolute;
    
    top : 50%;

    left : 50%;

    transform : translate(-50%,-50%);

    opacity : 0;
}

.item:hover p{
    opacity : 1;
}

.item:hover img{
    opacity : 0.33;
}

.item2{
    position : relative;
}

.item2 p{
    position : absolute;
    
    top : 50%;

    left : 50%;

    transform : translate(-50%,-50%);

    opacity : 0;
}

.item2:hover p{
    opacity : 1;
}

.item2:hover img{
    opacity : 0.33;
}

.item3{
    position : relative;
}

.item3 p{
    position : absolute;
    
    top : 50%;

    left : 50%;

    transform : translate(-50%,-50%);

    opacity : 0;
}

.item3:hover p{
    opacity : 1;
}

.item3:hover img{
    opacity : 0.33;
}

.item4{
    position : relative;
}

.item4 p{
    position : absolute;
    
    top : 50%;

    left : 50%;

    transform : translate(-50%,-50%);

    opacity : 0;
}

.item4:hover p{
    opacity : 1;
}

.item4:hover img{
    opacity : 0.33;
}

.item5{
    position : relative;
}

.item5 p{
    position : absolute;
    
    top : 50%;

    left : 50%;

    transform : translate(-50%,-50%);

    opacity : 0;
}

.item5:hover p{
    opacity : 1;
}

.item5:hover img{
    opacity : 0.33;
}

.item6{
    position : relative;
}

.item6 p{
    position : absolute;
    
    top : 50%;

    left : 50%;

    transform : translate(-50%,-50%);

    opacity : 0;
}

.item6:hover p{
    opacity : 1;
}

.item6:hover img{
    opacity : 0.33;
}

.item7{
    position : relative;
}

.item7 p{
    position : absolute;
    
    top : 50%;

    left : 50%;

    transform : translate(-50%,-50%);

    opacity : 0;
}

.item7:hover p{
    opacity : 1;
}

.item7:hover img{
    opacity : 0.33;
}

.Header *{
    border : solid;
}

a:link{
    color : #FF0000;
}

.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;
}

.item2{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;

    cursor : pointer;
}

.item3{
    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;

    cursor : pointer;
}

.item4{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;

    cursor : pointer;
}

.item5{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;
}

.item6{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;

    cursor : pointer;
}

.item7{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;

    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;

    cursor : pointer;
}

a:link{
    color : #000080;
}

a:visited{
    color : #000080;
}

h1,u{
    font-family : cursive;
    color : #000080;
}

h3,p,u,b{
    font-family : Lucida Console;
}

body{
    background-color : #FFE9D5;

    border-left : 30px ridge #FF0000;
    border-right : 30px ridge #FF0000;

    border-top : 30px ridge #000028;
    border-bottom : 30px ridge #000028;
}