.Header{
    background-color: #4169E1;
    display : flex;
    justify-content: space-evenly;
    text-align: center;
    font-family : Arial;
    font-weight : bold;

    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;
}

.grid{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item{
    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;
}

.item2{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;

    cursor : pointer;
}

.item3{
    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;

    cursor : pointer;
}

.item4{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;

    cursor : pointer;
}

.item5{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;
}

.item6{
    border-top : 10px ridge #FF0000;
    border-bottom : 10px ridge #FF0000;

    border-right : 10px ridge #000028;
    border-left : 10px ridge #000028;

    cursor : pointer;
}

.item7{
    display : flex;
    flex-wrap: wrap;
    justify-content: center;

    border-right : 10px ridge #FF0000;
    border-left : 10px ridge #FF0000;

    border-top : 10px ridge #000028;
    border-bottom : 10px ridge #000028;

    cursor : pointer;
}

h1,u,center{
    text-align: center;
    font-family : cursive;
}

h3,p,u,b{
    font-family : Lucida Console;
}

body{
    background-color : #FFE9D5;

    border-left : 30px ridge #FF0000;
    border-right : 30px ridge #FF0000;

    border-top : 30px ridge #000028;
    border-bottom : 30px ridge #000028;
}